[Unit]
Description=App from Aurora Admin Panel
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Type=simple
User=root
ExecStart=
ExecReload=
TimeoutStopSec=5s
LimitNOFILE=1048576
LimitNPROC=512
RestartSec=2s
Restart=on-failure

[Install]
WantedBy=multi-user.target
