[Unit]
Description=Gost from Aurora Admin Panel
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Type=simple
User=root
DynamicUser=true
ExecStart=/bin/sh -c '/usr/local/bin/gost -C /usr/local/etc/gost/%i.json >/dev/null 2>&1'
RestartSec=2s
Restart=on-failure
LimitNOFILE=1048576
LimitNPROC=512

[Install]
WantedBy=multi-user.target
