[Unit]
Description=gost
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Type=simple
User=root
DynamicUser=true
ExecStart=/usr/local/bin/gost -C /usr/local/etc/gost/%i.json

[Install]
WantedBy=multi-user.target
