[Unit]
Description=Prometheus Node Exporter with Iptables from Aurora Admin Panel
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Type=simple
User=root
DynamicUser=true
ExecStart=/usr/local/bin/node_exporter --web.listen-address=":%i" --collector.iptables

[Install]
WantedBy=multi-user.target
