[Unit]
Description=App from Aurora Admin Panel
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service
StartLimitBurst=5
StartLimitIntervalSec=500

[Service]
Type=simple
User=root
DynamicUser=true
ExecStart=
LimitNOFILE=1048576
LimitNPROC=51200
RestartSec=2s
Restart=on-failure
StandardOutput=null

[Install]
WantedBy=multi-user.target
