[Unit]
Description=tinyPortMapper from Aurora Admin Panel
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Type=simple
User=root
DynamicUser=true
ExecStart=/usr/local/bin/tiny_port_mapper

[Install]
WantedBy=multi-user.target
