---
- name: Exec tc script
  block:
    - name: Exec tc script locally
      shell: /usr/local/bin/tc.sh {{ tc_args }}
  rescue:
    - name: Sync tc.sh
      copy:
        src: files/tc.sh
        dest: /usr/local/bin/tc.sh
        owner: root
        group: root
        mode: '0755'
    - name: Exec tc script locally again
      shell: /usr/local/bin/tc.sh {{ tc_args }}
