---
- hosts: "{{ host | default('web') }}"
  become: yes
  gather_facts: no
  pre_tasks:
    - name: gost setup
      when: update_gost is defined and update_gost
      block:
        - setup:
        - name: sync gost
          include_role:
            name: gost_sync
        - name: get gost version
          include_role:
            name: gost_get
  roles:
    - traffic_delete_monitor
    - gost