---
- name: Create v2ray config directory if it does not exist
  file:
    path: /usr/local/etc/v2ray
    state: directory
    mode: '0755'

- name: Sync v2ray@.service
  copy:
    src: roles/v2ray/files/v2ray@.service
    dest: /usr/lib/systemd/system/v2ray@.service
    owner: root
    group: root

- name: Sync v2ray binary
  copy:
    src: roles/v2ray/files/v2ray_v4.42.2
    dest: /usr/local/bin/v2ray
    mode: +x
    owner: root
    group: root

- name: Sync geoip.dat binary
  copy:
    src: roles/v2ray/files/geoip.dat
    dest: /usr/local/bin/geoip.dat
    owner: root
    group: root

- name: Sync geosite.dat binary
  copy:
    src: roles/v2ray/files/geosite.dat
    dest: /usr/local/bin/geosite.dat
    owner: root
    group: root